.user.List {
    display: grid;
    grid-template-columns: 50px auto;
    justify-items: left;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    /* box-shadow: 0 0 0 7px; */
    border-radius: 10px;
    background: #e6e6e6;
}

.List a {
    margin: auto 0;
    display: block;
    box-shadow: 0 -1px #d0d0d0 inset;
    width: 100%;
    text-align: left;
    padding: 11px 0;
    color: #333;
}
.List a:last-child {
    box-shadow:none
}